<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      native
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="primary" expand="full" shape="round" (click)="getTestNetwork()">网络状态</ion-button>
  <ion-button color="primary" expand="full" shape="round" (click)="getAppVersion()">版本信息</ion-button>
  <ion-button color="primary" expand="full" shape="round" (click)="getCamera()">上传图片</ion-button>
  <ion-img src="{{base64Image}}" alt=""></ion-img>
</ion-content>
